<nav class="navbar navbar-fixed-top stitched" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">SousChef</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav pull-right">
          <% if signed_in? %>
            <li><%= link_to "My profile", my_recipes_path %></li>
            <li><%= link_to 'New Recipe', new_my_recipe_path%></li>
                <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
                </li>
              <% else %>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
                <li><%= link_to "Sign in",  new_user_session_path %></li>
              <% end %>
              <%= form_tag search_path, :class => "center" do %>
                    <%= label_tag() %>
                    <%= text_field_tag(:foodnav, "Search recipes...") %><br>
                    <%= submit_tag "", :id=> "navsearch"%>
                  <% end %>
            </ul>
          </div>
        </div>
      </nav>
<h2 id="result_title">Your Results:</h2>
<div class="container-fluid">
  <% @recipes.each do |recipe| %>
    <div id="masonry-container-search" class="transitions-enabled infinite-scroll clearfix">
      <a href="<%= site_recipe_path(recipe)%>">
      <div class="box col4">
          <img src="http://www.epicurious.com<%= recipe.image %>">
          <p id="star_title_search">Average rating</p>
<div id="star_search">
          <div class="row">
            <div class="col-xs-12"><h2 id="search_recipe_title"><%= recipe.title %></h2></div>
          <div class="col-xs-12" id="index_source" style="color:white;"><%= recipe.source %></div>
          <div class="col-xs-4 col-lg-3 index_info"><h1 class="info_value" id="search_recipe_calories_value"><%=recipe.calories%></h1><h2 class="info_title" id="search_recipe_calories_title">Calories</h2></div>
           <div class="col-xs-4  col-lg-3 index_info" style="background-color:coral;"><h1 class="info_value" id="search_recipe_time_value">N/A</h1><h2 class="info_title" id="search_recipe_time_title">Time</h2></div>
            <div class="col-xs-4 col-lg-3 index_info" ><h1 class="info_value" id="search_recipe_serving_value"><%=recipe.servings%></h1><h2 class="info_title" id="search_recipe_serving_title">Serving</h2></div>
        </div>
        </div>
      </a>
    </div>
  <% end %>

   <script>
$('#star').raty({
    readOnly: true,
    score: <%= @recipes.average_rating %>,
    half: true,
    path: '/assets'
  });
</script>