<nav class="navbar navbar-fixed-top stitched" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">SousChef</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if signed_in? %>
            <li><%= link_to "My profile", my_recipes_path %></li>
            <li><%= link_to 'New Recipe', new_my_recipe_path%></li>
                <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
                </li>
              <% else %>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
                <li><%= link_to "Sign in",  new_user_session_path %></li>
              <% end %>
              <%= form_tag search_path, :class => "center" do %>
                    <%= label_tag() %>
                    <%= text_field_tag(:food, "Search recipes...") %><br>
                    <%= submit_tag("Search")%>
                  <% end %>
            </ul>
          </div>
        </div>
      </nav>
<h2>Recipes submitted by
  <%= link_to @user.email, profile_path(@user) %></h2>
<table style="width: 100%">
  <thead>
    <tr>
      <th>Recipe</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <% @myrecipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.title, recipe.url %></td>
        <td><%= link_to @user.email, profile_path(@user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @myrecipes %>
<%= link_to 'Back', profiles_path %>
