<h2>Recipes submitted by
  <%= link_to @user.email, profile_path(@user) %></h2>
<table style="width: 100%">
  <thead>
    <tr>
      <th>Recipe</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <% @myrecipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.title, recipe.url %></td>
        <td><%= link_to @user.email, profile_path(@user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @myrecipes %>
<%= link_to 'Back', profiles_path %>
