<h1>Edit my recipe.</h1>
<div class= "form_shell">
  <div class="row">
    <div class="span6 offset3 center">
      <%= form_for(@myrecipes) do |f| %>
        <% unless @myrecipes.errors.count == 0   %>
          <div class="alert alert-error">
            The form contains
            <%= pluralize(@user.errors.count, "error") %>.
          </div>
          <ul>
            <% @myrecipes.errors.full_messages.each do |msg| %>
              <li>*
                <%= msg %></li>
            <% end %>
          </ul>
        <% end %>
        <%= f.label :title %><br />
        <%= f.text_field :title %><br />
        <%= f.label :description %><br />
        <%= f.text_area :description %><br />
        <%= f.label :photo %>
        <%= f.file_field :photo %>
        <%= f.submit "Edit my recipe", class: "form_button" %>
      <% end %>
    </div>
  </div>
</div>
