<nav class="navbar navbar-fixed-top stitched" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">SousChef</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav pull-right">
          <% if signed_in? %>
            <li><%= link_to "My profile", my_recipes_path %></li>
            <li><%= link_to 'New Recipe', new_my_recipe_path%></li>
                <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
                </li>
              <% else %>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
                <li><%= link_to "Sign in",  new_user_session_path %></li>
              <% end %>
              <%= form_tag search_path, :class => "center" do %>
                    <%= label_tag() %>
                    <%= text_field_tag(:foodnav, "Search recipes...") %><br>
                    <%= submit_tag "", :id=> "navsearch"%>
                  <% end %>
            </ul>
          </div>
        </div>
      </nav>
<h1>Edit my recipe.</h1>
<div class= "form_shell">
  <div class="row">
    <div class="span6 offset3 center">
      <%= form_for(@myrecipes) do |f| %>
        <% unless @myrecipes.errors.count == 0   %>
          <div class="alert alert-error">
            The form contains
            <%= pluralize(@user.errors.count, "error") %>.
          </div>
          <ul>
            <% @myrecipes.errors.full_messages.each do |msg| %>
              <li>*
                <%= msg %></li>
            <% end %>
          </ul>
        <% end %>
        <%= f.label :title %><br />
        <%= f.text_field :title %><br />
        <%= f.label :description %><br />
        <%= f.text_area :description %><br />
        <%= f.label :photo %>
        <%= f.file_field :photo %>
        <%= f.submit "Edit my recipe", class: "form_button" %>
      <% end %>
    </div>
  </div>
</div>
