<h2 style="margin-top:75px;">Your recipes</h2>
<br>
<% @myrecipes.each do |recipe| %>
  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
    <div class="box col3">
      <%= recipe.title %>
      <br>
      <%= image_tag recipe.photo_url %>
      <br>
      <%= truncate(recipe.description, length: 100, omission: '... (continued)')%>
      <br>
      <%= link_to 'Show', recipe %>
      <%= link_to 'Edit', edit_my_recipe_path(recipe) %>
      <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>
<%= paginate @myrecipes %>
