<h2>Your recipes</h2>
<table style="width: 100%">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @myrecipes.each do |recipe| %>
      <tr>
        <td><%= recipe.title %></td>
        <td><%= recipe.description%></td>
        <td><%= recipe.photo%></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_my_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @myrecipes %>
<%= link_to 'New Recipe', new_my_recipe_path, class: 'button' %>
