<div class="row">
  <aside class="span4">
    <section>
      <p id="notice"><%= notice %></p>
      <p>
        <%= image_tag @myrecipes.photo_url %>
        <%= @myrecipes.user_id %>
      </p>
      <p>
        <strong>Title:</strong>
        <%= @myrecipes.title %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @myrecipes.description %>
      </p>
      <%= link_to 'Edit', edit_my_recipe_path(@myrecipes) %>
      <%= link_to 'Back', my_recipes_path %>
      <section id="audio">
        No song is currently playing.
        <h2>Download and Delete Existing MP3's</h2>
        <table>
          <td><%= link_to "HTML5 Audio",  
"https://s3.amazonaws.com/tennis-testing/app/assets/audios/#{@title}.mp3", :class => "html5" %></td>
        </table>
        <script type="text/javascript">
          $(document).ready(function() {
              var audioSection = $('section#audio');
              $('a.html5').click(function() {
          
                  var audio = $('<audio>', {
                       controls : 'controls'
                  });
          
                  var url = $(this).attr('href');
                  $('<source>').attr('src', url).appendTo(audio);
                  audioSection.html(audio);
                  return false;
              });
          });
        </script>
      </section>
    </section>
  </aside>
</div>
