<div class="row">
  <aside class="span4">
    <section>
      <p id="notice"><%= notice %></p>
      <p>
        <%= image_tag @myrecipes.photo_url %>
        <%= @myrecipes.user_id %>
      </p>
      <p>
        <strong>Title:</strong>
        <%= @myrecipes.title %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @myrecipes.description %>
      </p>
      <%= link_to 'Edit', edit_my_recipe_path(@myrecipes) %>
      <%= link_to 'Back', my_recipes_path %>
    </section>
  </aside>
</div>
