<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <section>
        <p id="notice"><%= notice %></p>
        <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
          <div class="box col6">
            <p>
              <strong>Title:</strong>
              <%= @myrecipes.title %>
            </p>
            <p>
              <%= image_tag @myrecipes.photo_url %>
            </p>
            <p>
              <strong>Description:</strong>
              <%= @myrecipes.description %>
            </p>
            <%= link_to 'Edit', edit_my_recipe_path(@myrecipes) %>
            <%= link_to 'Back', my_recipes_path %>
            <audio id="recipeclip"src='https://s3.amazonaws.com/tennis-testing/app/assets/audios/<%="#{@title}"%>.mp3' controls>"HTML5 Audio"</audio>
          </section>
        </div>
        <div class="col-lg-4">
          <div id="content">
            <video id="webcam" autoplay width="480" height="480"></video>
          </video>
          <canvas id="canvas-source" width="480" height="480"></canvas>
          <canvas id="canvas-highlights" width="480" height="480"></canvas>
          <canvas id="canvas-blended" width="480" height="480"></canvas>
          <div id="hotSpots">
            <div id="play"></div>
            <div id="pause"></div>
            <div id="up"></div>
            <div id="down"></div>
          </div>
        </div>
        <div class="loading">Loading assets...</div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="/assets/app.js"></script>
        <script src="/assets/sample.js"></script>
      </div>
    </div>
  </div>
</div>
