<!DOCTYPE html>
<html>
  <head>
    <title>Firstapp</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      $(function(){
        $.stellar({
          horizontalScrolling: false,
          verticalOffset: 40
        });
      });
    </script>
  </head>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <%= link_to "Recipes", root_path, id: "logo" %>
    <div class="container-fluid">
      <ul>
        <% if signed_in? %>
          <li class="navbar-text pull-right"><%= link_to "My profile", profiles_path %></li>
          <li class="navbar-text pull-right">
            <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
          </li>
        <% else %>
          <li class="navbar-text pull-right"><%= link_to "Sign up", new_user_registration_path %></li>
          <li class="navbar-text pull-right"><%= link_to "Sign in",  new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <body>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
